/*header styles*/
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans+JP:wght@100..900&family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mingzat&family=Noto+Sans+JP:wght@100..900&family=Protest+Guerrilla&display=swap');


body {
    font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 3rem;
  color: #131313;
  text-align: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Protest Guerrilla", sans-serif;
  
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 20px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
