/*header styles*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-title{
    font-size: 3rem;
    color: #131313);
text-align: center;
font-family: "Work Sans";
font-style: normal;
font-weight: 700;
line-height: normal;
}
nav > ul{
    display:flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}